@import "./mixins.scss";
@import "./ui.scss";

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

body {
    font-family: "Roboto";
    font-weight: normal;
    color: #000000;
    background: #e5e5e5;
    font-weight: 400;
}

.app {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.test {
    margin: 0 auto;
    &-list {
        @include flex-all-center;
        flex-wrap: wrap;
        column-gap: 48px;
        row-gap: 39px;
    }
    &-item {
        width: 352px;
        height: 256px;
        background: #ffffff;
        box-sizing: border-box;
        border-radius: 24px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        &_subtitle {
            @include text($c: #000000, $fs: 16px, $ls: 0.04em, $lh: 24px);
            text-transform: uppercase;
            opacity: 0.5;
        }
        &_title {
            @include text($c: #000000, $fs: 40px, $ls: -0.02em, $lh: 48px);
            flex-grow: 1;
            margin-top: 8px;
            text-transform: capitalize;
        }
        &-price {
            display: flex;
            align-items: center;
            &_dolar {
                @include text($c: #000000, $fs: 30px, $ls: -0.02em, $lh: 35px);
                margin-bottom: 15px;
            }
            &_number {
                font-size: 60px;
                line-height: 72px;
                letter-spacing: -0.02em;
                flex-grow: 1;
                padding-left: 8px;
            }
            &_button {
                @include button;
            }
        }
    }
    &_button {
        @include button($bg: #50daa8, $col: #ffffff, $h: 60px, $w: 235px, $fs: 24px);
        margin-top: 70px;
    }
    &-modal {
        @include flex-all-center;
        flex-direction: column;
        width: 384px;
        box-sizing: border-box;
        padding: 54px 50px 66px 46px;
        &_price {
            margin-top: 16px;
        }
        &-form {
            display: flex;
            flex-direction: column;
            row-gap: 18px;
            margin: 30px 0;
            & > button {
                margin-top: 16px;
                position: relative;
                width: 100%;
            }
        }
    }
    &-footer {
        display: flex;
        justify-content: center;
    }
}
